.log {
        width: 100%;
        background: var(--color-red);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.log__content {
        display: flex;
        flex-direction: column;
        align-items: center;
}
.log__logo {
        width: 4rem;
        height: 4rem;
}
.log__logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
}
.times {
        display: flex;
        margin-top: 4rem;
        align-items: center;
        color: var(--color-white);
        font-size: var(--font-new);
        font-weight: 800;
}
.date {
        display: flex;
        line-height: 30px;
        align-items: center;
        font-size: var(--font-small);
        color: var(--color-white);
        font-weight: 400;
}
.admin {
        display: flex;
        border-radius: 1rem;
        cursor: pointer;
        margin-top: 4rem;
        gap: 0.7rem;
        padding: 0.3rem 0.7rem;
        align-items: center;
        color: var(--color-red);
        background: var(--color-white);
        font-weight: 700;
        font-size: var(--font-small);
        text-transform: uppercase;
}
.admin img {
        width: 0.7rem;
        height: 0.7rem;
        object-fit: contain;
}
.fill {
        width: 0.5rem;
        height: 0.5rem;
        object-fit: contain;
        cursor: pointer;
        margin-top: 1rem;
}